<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akomi.InformationModel" version="0.2.0.11" targetFramework="net452" />
  <package id="Akomi.InformationModel.Skills.SkillCatalogue" version="0.2.0.11" targetFramework="net452" />
  <package id="Akomi.Randomizer" version="0.2.0.9" targetFramework="net452" />
  <package id="Akomi.Utilities" version="0.2.0.13" targetFramework="net452" />
</packages>